section#hero{
    min-height: calc(100vh - 88px);
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
#hero .hero-txt h4{
    font-size: 1.5rem;
    font-weight: 500;
}
#hero .hero-txt h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#hero .hero-txt h1 span{
    color: var(--sea-green);
}

#hero .primary-link{
    margin-left: 0.5rem;
}

@media only screen and (max-width: 1340px){
    #hero .hero-txt h1{
        font-size: 3.4rem;
    } 
    #hero img{
        /* height: 520px; */
        margin-right: -3rem;
    }
}
@media only screen and (max-width: 1168px){
    #hero .hero-txt h4{
        font-size: 1.4rem;
    }
    #hero .hero-txt h1{
        font-size: 3.2rem;
    }
    /* #hero img{
        height: 490px;
    } */
}
@media only screen and (max-width: 1030px){
    section#hero{
        flex-direction: column;
    }
    /* #hero img{
        height: auto;
        width: 100%;
    } */
}
@media only screen and (max-width: 664px){
    #hero .hero-txt h4{
        font-size: 1.3rem;
    }
    #hero .hero-txt h1{
        font-size: 3rem;
        margin-top: 1.5rem;
    }
}
@media only screen and (max-width: 518px){
    #hero .hero-txt h1{
        font-size: 2.8rem;
    }
}
